@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

.dashboard-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 70%;
}

.isloaded-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    background-color: white;
}

.isloaded-message {
    display: flex;
    justify-content: center;
}

.table-head {
    background-color: beige;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    background-color: white;
  }