@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
}

.dashboard-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.isloaded-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    transform: translate(-50%, -50%);
    background-color: white;
}

.isloaded-message {
    display: flex;
    justify-content: center;
}

.table-head {
    background-color: beige;
}